/.vs
/Libs/GizmoFort.Connector.ERPNext/obj/Debug
/Libs/GizmoFort.Connector.ERPNext/bin/Debug
/Tests/GizmoFort.Connector.ERPNext.Tests/bin/Debug
/Tests/GizmoFort.Connector.ERPNext.Tests/obj/Debug
/_ReSharper.Caches
/TestResults
/packages
/Libs/GizmoFort.Connector.ERPNext/bin/Release
/Libs/GizmoFort.Connector.ERPNext/obj/Release
/Tests/GizmoFort.Connector.ERPNext.Tests/bin/Release
/Tests/GizmoFort.Connector.ERPNext.Tests/obj/Release
/Libs/GizmoFort.Connector.ERPNext/*.nupkg
/Tests/GizmoFort.Connector.ERPNext.Tests/*.user
/Libs/GizmoFort.Connector.ERPNext/*.user
/Tools/GenerateCodeFromSchemaJson/obj
